.Container {
    height: 270px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.RecipesList {
    display: flex;
    max-width: 100%;
    overflow: auto;
    padding: 0;
    margin: 20px;
    list-style-type: none;
}