.NavigationItem {
    margin: 0;
    display: flex;
    height: 50px;
    align-items: center;
    text-align: center;
}

.NavigationItem a {
    color: #eeee;
    height: 100%;
    padding: 5px 10px;
    border-bottom: 4px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.2);
}
.NavigationItem a:hover {
    background-color: rgba(0,0,0,.4);
}

.NavigationItem svg {
    font-size: 45px;
    color: inherit;
    margin: 0;
}
.NavigationItem svg:hover {
    color: white;
}


.NavigationItem a:active,
.NavigationItem a.active {
    border-bottom: 4px solid white;
    color: white;
    background-color: rgba(0,0,0,.4);
}


@media (max-width: 767px) {
    .NavigationItem svg {
        font-size: 35px;
    }
}

@media (max-width: 550px) {

    .NavigationItem {
        height: 30px;
    }

    .NavigationItem svg {
        font-size: 25px;
    }

}

